*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html{
    background-color:azure;
}
/*styles for the first page*/
.page1{
    color: white;
    height: 675px;
    width: 100%;
    background-image: url("./Assets/herocover.png");
    background-size: cover;
    background-repeat: no-repeat;
   
    


    
}
.cover>.brand{
    font-weight: bold;
    font-size: 25px;
    padding: 25px;
    

}
.cover li{
    display: inline;
    list-style-type: none;
    padding: 45px;
    

}
.cover .ul1{
    padding-top: 25px;
    
      
}
.ul2{
    float: right;
    padding: 25px;
    margin-right: 50px;
}
.cover>p, .ul1{
    float: left;

    
}
.cover .ul1>li>a, .ul2>li>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.ul2 li:nth-child(2){
    background-color: #23A6F0;
    padding: 25px;
    border-radius: 5px;
    
}
.page1content{
    /* background-color: red;  A style to help manipulate the div and position it properly*/
    position: relative;
    top: 200px;
    right: 12.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
   

}
.page1content .major{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 50px;
}
.page1content .minor{
    font-size: 25px;
}
.page1content a{
    color: white;
    text-decoration: none;
}
.page1content button{
    border: solid 1px white;
    height: 55px;
    width: 200px;
    border-radius: 25px;
    margin: 12.5px;

    
}
.get{
    background-color:#23A6F0;
    border: none;
    
}
.tabs{
    position: absolute;
    height: 300px;
    display: flex;
    justify-content: space-around;
    width: 60%;
    left: 20%;
    top: 525px;
    text-align: left;

}
.tab1, .tab2{
    background-color: white;
    color: black;

}
.tab3{
    background-color: #23A6F0;
    color: white;
    
}
.tab1, .tab2, .tab3{
    padding: 25px;
    box-shadow: 2px 2px 2px white;
}
/*styling the second section of the page */
.section{
    position: relative;
    top: 275px;
    display: flex;
    justify-content: space-around;
    height: 275px;
    background-color: white;
    padding: 75px;
}
/*styling the third section of the page */
.page4{
    position: relative;
    top: 275px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}
.section1 {
    text-align: center;
    padding: 50px;
}
.section2{
    display: flex;
    flex-direction: row;
    margin: 50px;
    
}
.section2 div{
    padding: 25px;
    text-align: center;
    background-color: white;
    margin: 25px;
    width: 300px;
    height: 450px;
    position: relative;
    left: 20%;
    border: solid whitesmoke 1px;
}
.section2 img{
    width: 175px;

}
.section3{

    margin-left: 250px;
    margin-right: 250px;
    
}
.section3 img{
    display: inline;
    width: 75px;
    margin: 0 60px;
    
}

.section3 img:last-child{
    margin-right: 0;
}

.section4{
    background-image: linear-gradient(to right, #252B42, purple);
    height: 100px;
    margin: 12.5px 250px;
    color: white;
    padding: 25px;
    
}
.section4 p{
    font-weight: bold;
    font-size: 1.5em;
    float: left;
    padding-left: 50px;

}

.section4 input[type="text"], button{
    height: 50px;
    float: right;
    

}
.section4 .div{
    border: solid white 2px;
}
.section4 input[type="text"]{
    width: 275px;
    
}
.section4 button{
    width: 125px;
    color: white;
    background-color: #23A6F0;
}



.price1{

    position: relative;
    top: 350px;
    text-align: center;
    height: 200px;
    padding: 50px;
    
}
.price1 h2{
    font-size: 1.75em;

}
.price{
    
    position: relative;
    top: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.price div{
    border: solid 1px #23A6F0;
    border-radius: 5px;
    padding: 80px;
    height: 500px;
    margin: 30px 2.5px 12.5px 2.5px;
    height: 500px;
}
.price .mid{
    
    margin: 0 2.5px 12.5px 2.5px;
    height: 530px;
    background-color: #252B42;
    color: white;
}
.price>div>button{
    background-color: #23A6F0;
    padding: 12.5px;
    margin-right: 50px;
    margin-left: auto;
    margin-top: 25px;

}
.price strong{
    color: #23A6F0
}


.world{
    background-color: #252B42;
    position: relative;
    top: 350px;
    margin-top: 50px;
    color: white;
    height: 675px;
}

.world img{
    height: 225px;
    
    
}
.topworld h3{
    
    
    margin-left: 125px;
    font-size: 2em;
}

.topworld p{
    float: left;
    text-align: justify;
    margin-left: 125px;
    margin-top: 50px;
}
.topworld img{
    float: right;
    margin-right: 125px;
}
.topworld{
    padding: 50px;
}

.book{
    background-color: white;
    height: 525px;
    color: rgb(0,0,0);
    position: absolute;
    left: 25%;
    right: 25%;
    top: 65%;
    
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
    height: 525px;
    
}
.book img{
    height: 525px;
    float: left;
    

}



.bottomworld{
    position: relative;
    top: 875px;
    color: #000;
    height: 75px;
    
    
    

}

.bottomworld .left{
    float: left;
    margin-left: 20%;


    
}
.bottomworld > .left > .heading{
    font-size: 1.25em;
    font-weight: 800;
}

.bottomworld .right{
    float: right;
    margin-right: 20%;
    background-color: #23A6F0;
    padding: 15px;
    border-radius: 2.5px;
    
}
.bottomworld .right a{
    text-decoration: none;
    color: white;
}


.footer{
    background-color: white;
    position: relative;
    top: 885px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.footer ul{
    margin: 0 50px;

}
.footer li{
    padding: 5px;
    list-style: none;
}
.footer li a{
    text-decoration: none;
    color: black;
}
.footer li:first-child{
    font-weight: 900;
}


footer{
    position: relative;
    top: 885px;
    margin-top: 15px;
    padding: 25px;
    margin-left: 20%;
    margin-right: 20%;
}
footer img, .footer img{
    height: 18px;
}
footer>div{
    float: right;
   
    
}